/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ----Element styles ---- */

img{
  max-width: 100%;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

a{
  color: orange;
  text-decoration: none;
}

a:hover{
    color: aqua
}

img:hover{
  opacity: .7;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

h3{
  font-family: 'montserrat', sans-serif;
  font-size: 2em;
  padding: 30px;
  text-align: center;
}

/* ---- layout ---- */


.main-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

.container {
  margin: 0 20px;
  max-width: 960px;
  border: 1px solid black
}

section {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* ---- components ---- */

/* section:nth-last-of-type(even){
  background: lightskyblue
} */

/* ---- banner ---- */
.banner{
  height: 100vh;
  background: black;
  color: coral;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background: url(../Images/evan-kirby-263913-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner h1{
  font-family: 'montserrat subrayada', sans-serif;
  font-size: 3em;
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 5px;
  line-height: 1.2em;
}

.banner h2{
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  margin-left: 150px;
}

/* Portfolio section */
.flex-list{
  display: flex;
  flex-wrap: wrap;
}

.flex-list li{
  flex-basis: 100%;
  position: relative;
}

.portfolio-title{
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid black;
  transform: translate(-50%, -50%);
}


/* ---- section ---- */


section{
    margin-bottom: 20px;
    padding-top: 20px;
}

footer{
  margin-bottom: 20px;
  padding-top: 20px;
}

  /* ---- header ---- */

.page-header a{
  color: pink
}

.page-header a:hover{
  color: aquamarine
}

.inline-list li{
  display: inline-block;
}

.portfolio__list li{
  width: 25%
}

.page-header{
  /* background: black; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'roboto' sans-serif;
}
.page-header h1 {
  font-size: 1em;
}

.page-header a{
color: white;
padding: 5px 10px;
font-weight: 700;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .page-header h1{
      font-size: 1em;
}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .inline-list li{
      display: inline-block;  
  }
  .flex-list li{
    flex-basis: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container{
    margin: 0 auto
  }
  .page-header h1{
      font-size: 1em;
  }
  .inline-list li{
      display: inline-block
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        margin: 0 auto
    }
}
